$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$fa-font-path: "../bower_components/font-awesome/fonts/";
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "font-awesome/scss/font-awesome.scss";

@import "http://fonts.googleapis.com/css?family=Roboto:400,600&subset=latin,latin-ext";

html {

}

body {
    background: url(../images/background.jpg) no-repeat top center #0f0e2e;
    margin: 0;
    font-family: 'Roboto', sans-serif !important;
    font-size: 15px;
    line-height: 1.6;
}

#banner {
    padding: 0px;
}

a {
    color: #060606;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.content {
    width: 990px;
}

.container {
    height: 100%;
}

#main {
    background-color: white;
    margin-left: 0px;
    margin-right: 0px;
}

.row {
    padding: 10px;
}

.hand {
    cursor: pointer !important;
}

#logo {
    font-size: 24px;
    font-family: "Impact", "Tahoma", Arial, "Geneva", sans-serif;
    padding: 40px 100px 70px 210px;
}

#logo a {
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
}

#menu {
    height: 40px;
    text-align: center;
}

#menu a {
    color: #060606;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    margin: 0 20px;
    text-transform: lowercase;
}

#menu a:hover {
    color: #ED0677;
}

#main {
    height: 100%;
}

#text {
    margin: 10px 0 10px 40px;
}

#text ul {
    padding: 0;
    margin: 25px 0 10px 40px;
}

#text li {
    list-style: none;
    padding-left: 15px;
}

h1 {
    margin: 20px 0 0 0;
    text-transform: uppercase;
    font-family: "Impact", "Tahoma", Arial, "Geneva", sans-serif;
    font-size: 22px;
    font-weight: normal;
}

#text p {
    margin: 10px 0;
}

#sidebar {
    background-color: white;
    padding: 20px;
    font-size: 14px !important;
    font-weight: 600;
}

ul.scroll-area {
    height: auto;
    overflow-y: auto;
}